* {
	position: relative;
}
nav {
	border-style: solid;
	border-color: #D68300;
}

body {
	background: url("stars.png");

}

h1 {
	color: #2408F6;
	font-size: 60px;
	font-weight: bold;
	font-family: "bookman";
	text-align: center;
	margin-right: 200px;

}

.crystal {
	height: 200px;
	width: 250px;
	border: 1px solid white;
	border-style: solid;


}

.crystals {
	display: flex;
	justify-content: space-around;
	align-items: center;


}

p {
	font-size: 30px;
	font-weight: bold;
	color: #8AD9F7;

}

.p2 {
	color: #FE77F6;
	font-size: 28px;
}

li {
	font-size: 25px;
	color: #8AD9F7;
}

.citrine {
	margin-left: 450px;
	width: 250px;

}



.instructions {
	border-style: dashed;
	width: 650px;
	height: 450px;
	object-position: center;
	border-color: #2408F6;
	text-align: center;
	margin-left: 650px;
	margin-top: 75px;
	margin-bottom: 75px;

}

#scoreBoard {
	text-align: left;
	border-style: solid;
	width: 400px;
	height: 100px;
	border-color: #D68300;
	margin-left: 750px;
	margin-bottom: 75px;
	color: #8AD9F7;
}

#guessingNumber {
	text-align: left;
	border-style: solid;
	width: 400px;
	height: 100px;
	border-color: #D68300;
	margin-left: 750px;
	margin-bottom: 75px;
	color: #8AD9F7;
	
}
#previous {
	text-align: left;
	border-style: solid;
	width: 400px;
	height: 100px;
	border-color: #D68300;
	margin-left: 750px;
	margin-bottom: 75px;
	color: #8AD9F7;
	

}